<h2>What does do the Watchdomain?</h2>
Watchdomain give your to domain check with whois information. <br>
Watchdomain only control to give your domain with information of whois. If your domain status is available, watchdomain will send e-mail. Watchdomain is completely free system.

<h4 style="margin-top: 20px">How to use watchdomain?</h4>
First, you should new <a href="<%= new_user_registration_path %>">registration</a> and then must confirmation your e-mail. Later you can login. <br>
After that press to <b>Add Domain</b> button. Write down the domain address you want to follow along with the description. Later wait for e-mail to inform you.